@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
body{
    background: #000080;
    background: linear-gradient(120deg, #000080 40%, #06402b 60%);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    
}

.heading{
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    text-shadow: 2px 2px black;
}

.label{
    font-family: "Playfair Display", serif; 
}

.imageDiv{
    background-color: #000000;
    width: 90%;
    max-width: 600px;
    max-height: 600px;
    box-shadow: 5px 10px 10px #000000;
    border-radius: 10px;
    overflow: hidden;

    
}

.inviteDiv{
    width: 90%;
    max-width: 600px;
    height: auto;
    box-shadow: 5px 10px 10px #000000;
    
}

.countdown{
    width: 90%;
    max-width: 500px;
    height: auto; 
    text-shadow: 2px 2px black;
}

#JacobandTeresa {
    transition: opacity 1.2s ease-in-out;   /* Adjust timing as needed */
    opacity: 1;
}

#JacobandTeresa.fade-out {
    opacity: 0;
}

.registry{
    background-color: #06402b;
    width: 140px;
    padding: 7px;
    font-family: "Playfair Display", serif; 
    box-shadow: 3px 3px 5px #000000;
    margin-top: 50px;
    border-radius: 10px;
}



